body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    }


.bg-color{
    background-color: #264653;
}

.nav-color{
   background-color: rgba(240, 248, 255, 0.747);
   background-image: url(images/shapes/Group\ 8447.png);
}

.card_header{
    background-color: rgba(221, 208, 208, 0.452);
}

main{
    min-height: 100vh;
}



.box{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



/* .prgress-bar  */

.about{
    background-image: url(images/shapes/Group\ 8446.png);
}

.help-line{
    background-image: url(images/shapes/Group\ 8449.png);
}

footer{
    margin-top: auto;
}

