body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    }


.bg-color{
    background-color: #264653;
}

.card_header{
    background-color: rgba(221, 208, 208, 0.452);
}

main{
    min-height: 100vh;
}

.box{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* .prgress-bar  */


footer{
    margin-top: auto;
}

